@import "./_scss/header";
@import "./_scss/footer";

/*HOME*/
.banner{
    background-image:  url(../img/fondo\ nosotros.jpg);
    background-size: contain;
    padding: 70px;
    width: 100%;
    text-align: center;
    margin-bottom: 100px;
}
.pevd{
    text-align: center;
    text-transform: uppercase;
    margin: 50px auto;
}
/*imagenes inicio*/
.imgcontainer{
    min-height: 1000px;
    width: 80%;
    margin: auto;
    padding-bottom: 50px;
    display: grid;
}
.img{
    text-align: center;
    color: #fff;
    border: 1px solid black;
}
.img:hover {
    transform: scale(1.05);
    transition: all 0.60s;
}
.venta1{
    background-image: url(../img/venta\ 1.jpg);
    background-size: cover;
    background-position: center;
}
.venta2{
    background-image: url(../img/venta\ 2.jpg);
    background-position: center;
}
.venta3{
    background-image: url(../img/venta\ 3.jpg);
    background-position: center;
}
.venta4{
    background-image: url(../img/venta\ 4.jpg);
    background-size: cover;
    background-position: center;
}
.venta5{
    background-image: url(../img/venta\ 5.jpg);
    background-size: cover;
    background-position: center;
}
.venta6{
    background-image: url(../img/venta\ 6.jpg);
    background-size: cover;
    background-position: center;
}
.venta7{
    background-image: url(../img/venta\ 7.jpg);
    background-size: cover;
    background-position: center;
}
.venta8{
    background-image: url(../img/venta\ 8.jpg);
    background-size: cover;
    background-position: center;
}
@media only screen and (min-width:320px){
    .imgcontainer{
        grid-template-rows: repeat(8, 250px);
        gap: 5px;
    }
}
@media only screen and (min-width:480px){
    .imgcontainer{
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(4, 200px);
        gap: 5px;
    }
}
@media only screen and (min-width:600px){
    .imgcontainer{
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(4, 1fr);
    }
    .venta1{
        grid-column: 1; 
        grid-row: 1;
    }
    .venta2{
        grid-column: 2/4;
        grid-row: 1/2;
    }
    .venta3{
        grid-column: 1/3;
    }
    .venta5{
        grid-column: 2/3;
        background-position: center;
    }
    .venta6{
        grid-row: 3/5;
        background-position:center;
        background-size: cover;
    }
    .venta8{
        grid-column: 2/4;
        grid-row: 4/5;
    }
}
@media only screen and (min-width:835px){
    .imgcontainer{
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(3, 1fr);
        gap: 15px;
    }
    .img{
        border-radius: 5%;
        transition: all 0.60s;
    }
    .venta1{
        grid-column: 1/2;
        grid-row: 1/3;
        background-image: url(../img/venta\ 1.jpg);
        background-size: cover;
        background-position: center;
    }
    .venta2{
        grid-column: 2/3;
        grid-row: 1/2;
        background-image: url(../img/venta\ 2.jpg);
        background-position: center;
    }
    .venta3{
        grid-column: 3/5;
        grid-row: 1/2;
        background-image: url(../img/venta\ 3.jpg);
        background-position: center;
    }
    .venta4{
        grid-column: 2/3;
        grid-row: 2/4;
        background-image: url(../img/venta\ 4.jpg);
        background-size: cover;
        background-position: center;
    }
    .venta5{
        grid-column: 3/4;
        grid-row: 2/3;
        background-image: url(../img/venta\ 5.jpg);
        background-size: cover;
        background-position: center;
    }
    .venta6{
        grid-column: 4/5;
        grid-row: 2/3;
        background-image: url(../img/venta\ 6.jpg);
        background-size: cover;
        background-position: center;
    }
    .venta7{
        grid-column: 1/2;
        grid-row: 3/4;
        background-image: url(../img/venta\ 7.jpg);
        background-size: cover;
        background-position: center;
    }
    .venta8{
        grid-column: 3/5;
        grid-row: 3/4;
        background-image: url(../img/venta\ 8.jpg);
        background-size: cover;
        background-position: center;
    }
}
/*NOSOTROS*/
.subtitulos{
    width: 80%;
    margin: auto;
}
.tituloh2{
    padding: 10px;
    text-align: left;
    text-transform: uppercase;
    text-decoration: underline;
}
.ps{
    text-align: justify;
    width: 55%;
    margin: auto;
    font-weight: 400;
    padding-bottom: 60px;
}
/* VENTA */
.bannerVenta{
    background-image:  url(../img/banner\ sale.jpg);
    background-size: contain;
    padding: 70px;
    width: 100%;
    margin: 20px auto;
    text-align: center;
    letter-spacing: 6px;
}
.pev{
    text-align: center;
    text-transform: uppercase;
    margin: 50px auto;
}
.description2{
    text-align: justify;
    width: 65%;
    margin: 24px auto;
}
/*imagenes de venta*/
.imgContainerVenta{
    min-height: 1000px;
    width: 80%;
    margin: auto;
    padding-bottom: 50px;
    display: grid;
}
.cventa1{
    background-image: url(../img/venta\ 1.jpg);
    background-size: cover;
    background-position: center;
}
.cventa2{
    background-image: url(../img/venta\ 2.jpg);
    background-position: center;
}
.cventa3{
    background-image: url(../img/venta\ 3.jpg);
    background-position: center;
}
.cventa4{
    background-image: url(../img/venta\ 4.jpg);
    background-size: cover;
    background-position: center;
}
.cventa5{
    background-image: url(../img/venta\ 5.jpg);
    background-size: cover;
    background-position: center;
}
.cventa6{
    background-image: url(../img/venta\ 6.jpg);
    background-size: cover;
    background-position: center;
}
.cventa7{
    background-image: url(../img/venta\ 7.jpg);
    background-size: cover;
    background-position: center;
}
.cventa8{
    background-image: url(../img/venta\ 8.jpg);
    background-size: cover;
    background-position: center;
}
@media only screen and (min-width:320px){
    .imgContainerVenta{
        grid-template-rows: repeat(8, 250px);
        gap: 5px;
    }
}
@media only screen and (min-width:480px){
    .imgContainerVenta{
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(4, 200px);
        gap: 5px;
    }
}
@media only screen and (min-width:600px){
    .imgContainerVenta{
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(4, 1fr);
    }
    .cventa1{
        grid-column: 1; 
        grid-row: 1;
    }
    .cventa2{
        grid-column: 2/4;
        grid-row: 1/2;
    }
    .cventa3{
        grid-column: 1/3;
    }
    .cventa5{
        grid-column: 2/3;
        background-position: center;
    }
    .cventa6{
        grid-row: 3/5;
        background-position:center;
        background-size: cover;
    }
    .cventa8{
        grid-column: 2/4;
        grid-row: 4/5;
    }
}
@media only screen and (min-width:835px){
    .imgContainerVenta{
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(3, 1fr);
        gap: 15px;
    }
    .cventa1{
        grid-column: 1/2;
        grid-row: 1/3;
        background-image: url(../img/venta\ 1.jpg);
        background-size: cover;
        background-position: center;
    }
    .cventa2{
        grid-column: 2/3;
        grid-row: 1/2;
        background-image: url(../img/venta\ 2.jpg);
        background-position: center;
    }
    .cventa3{
        grid-column: 3/5;
        grid-row: 1/2;
        background-image: url(../img/venta\ 3.jpg);
        background-position: center;
    }
    .cventa4{
        grid-column: 2/3;
        grid-row: 2/4;
        background-image: url(../img/venta\ 4.jpg);
        background-size: cover;
        background-position: center;
    }
    .cventa5{
        grid-column: 3/4;
        grid-row: 2/3;
        background-image: url(../img/venta\ 5.jpg);
        background-size: cover;
        background-position: center;
    }
    .cventa6{
        grid-column: 4/5;
        grid-row: 2/3;
        background-image: url(../img/venta\ 6.jpg);
        background-size: cover;
        background-position: center;
    }
    .cventa7{
        grid-column: 1/2;
        grid-row: 3/4;
        background-image: url(../img/venta\ 7.jpg);
        background-size: cover;
        background-position: center;
    }
    .cventa8{
        grid-column: 3/5;
        grid-row: 3/4;
        background-image: url(../img/venta\ 8.jpg);
        background-size: cover;
        background-position: center;
    }
}
/*ALQUILER*/
.bannerRent{
    background-image:  url(../img/banner\ alquiler.jpg);
    background-size: contain;
    padding: 70px;
    width: 100%;
    margin: 20px auto;
    text-align: center;
    letter-spacing: 6px;
}
.pea{
    text-align: center;
    text-transform: uppercase;
    margin: 50px auto;
}
.descriptionRent{
    text-align: justify;
    width: 65%;
    margin: 24px auto;
}
.imgContainerRent{
    min-height: 1000px;
    width: 80%;
    margin: auto;
    padding-bottom: 50px;
    display: grid;
}
.alquiler1{
    background-image: url(../img/alquiler\ 1.jpg);
    background-size: cover;
    background-position: center;
}
.alquiler2{
    background-image: url(../img/alquiler\ 2.jpg);
    background-position: center;
}
.alquiler3{
    background-image: url(../img/alquiler\ 3.jpg);
    background-position: center;
}
.alquiler4{
    background-image: url(../img/alquiler\ 4.jpg);
    background-size: cover;
    background-position: center;
}
.alquiler5{
    background-image: url(../img/alquiler\ 5.jpg);
    background-size: cover;
    background-position: center;
}
.alquiler6{
    background-image: url(../img/alquiler\ 6.jpg);
    background-size: cover;
    background-position: center;
}
.alquiler7{
    background-image: url(../img/alquiler\ 7.jpg);
    background-size: cover;
    background-position: center;
}
.alquiler8{
    background-image: url(../img/alquiler\ 8.jpg);
    background-size: cover;
    background-position: center;
}
@media only screen and (min-width:320px){
    .imgContainerRent{
        grid-template-rows: repeat(8, 250px);
        gap: 5px;
    }
}
@media only screen and (min-width:480px){
    .imgContainerRent{
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(4, 200px);
        gap: 5px;
    }
}
@media only screen and (min-width:600px){
    .imgContainerRent{
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(4, 1fr);
    }
    .alquiler1{
        grid-column: 1; 
        grid-row: 1;
    }
    .alquiler2{
        grid-column: 2/4;
        grid-row: 1/2;
    }
    .alquiler3{
        grid-column: 1/3;
    }
    .alquiler5{
        grid-column: 2/3;
        background-position: center;
    }
    .alquiler6{
        grid-row: 3/5;
        background-position:center;
        background-size: cover;
    }
    .alquiler8{
        grid-column: 2/4;
        grid-row: 4/5;
    }
}
@media only screen and (min-width:835px){
    .imgContainerRent{
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(3, 1fr);
        gap: 15px;
    }
    .alquiler1{
        grid-column: 1/2;
        grid-row: 1/3;
        background-image: url(../img/alquiler\ 1.jpg);
        background-size: cover;
        background-position: center;
    }
    .alquiler2{
        grid-column: 2/3;
        grid-row: 1/2;
        background-image: url(../img/alquiler\ 2.jpg);
        background-position: center;
    }
    .alquiler3{
        grid-column: 3/5;
        grid-row: 1/2;
        background-image: url(../img/alquiler\ 3.jpg);
        background-position: center;
    }
    .alquiler4{
        grid-column: 2/3;
        grid-row: 2/4;
        background-image: url(../img/alquiler\ 4.jpg);
        background-size: cover;
        background-position: center;
    }
    .alquiler5{
        grid-column: 3/4;
        grid-row: 2/3;
        background-image: url(../img/alquiler\ 5.jpg);
        background-size: cover;
        background-position: center;
    }
    .alquiler6{
        grid-column: 4/5;
        grid-row: 2/3;
        background-image: url(../img/alquiler\ 6.jpg);
        background-size: cover;
        background-position: center;
    }
    .alquiler7{
        grid-column: 1/2;
        grid-row: 3/4;
        background-image: url(../img/alquiler\ 7.jpg);
        background-size: cover;
        background-position: center;
    }
    .alquiler8{
        grid-column: 3/5;
        grid-row: 3/4;
        background-image: url(../img/alquiler\ 8.jpg);
        background-size: cover;
        background-position: center;
    }
}
/*CONTACTO*/
.formulario{
    height: 100vh;
    padding-top: 180px;
}